.btn {
  background: transparent;
  border: 1px solid #3da639;
  border-radius: 4px;
  color: #3da639;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 7px 25px;
  text-align: center;
  vertical-align: middle;

  &:hover {
    border: 1px solid #1e531d;
    color: #1e531d;
  }

  &__primary {
    background: #3da639;
    color: #fff;

    &:hover {
      background: #1e531d;
      border: 1px solid transparent;
      color: #fff;
    }
  }

  &__link {
    &:hover {
      color: inherit;
    }
  }
}

@media screen and (max-width: 1023px) {
  .btn {
    margin-bottom: 15px;
  }

  .md\:btn-w {
    width: 100%;
  }
}
