.footer {
  background-color: #e8e8e8;
  padding-top: 75px;
  padding-bottom: 30px;

  &__heading,
  &--about {
    line-height: 1.2;
  }

  &__heading {
    font-weight: 500;
    font-size: 1.5rem;

    &--about {
      font-weight: 600;
      font-size: 1.75rem;
    }
  }

  &__link {
    color: #444;
  }
}
