.menu {
  background: #fff;

  &__list {
    padding: 0;
    display: block;
  }

  &__list,
  &__toggler {
    float: right;
  }

  &__toggler {
    font-size: x-large;
    margin-top: 17px;
  }

  &__logo {
    margin: 5px 10px 5px 0;
    float: left;
  }

  &__item {
    display: block;
    background: none;
    list-style-type: none;
    border: none;
    padding: 0;
  }

  &__link {
    font-size: 13px;
    text-transform: capitalize;
    padding: 16px 0 16px;
    color: #999;
    line-height: 150%;
    display: inline-block;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    &__list {
      display: block;
      height: 0;
      width: 100%;
      overflow: hidden;
      -webkit-transition: height 0.3s;
      transition: height 0.3s;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu {
    &__item,
    &__list,
    &__logo {
      display: inline-block;
    }

    &__list {
      margin: 4px 0 0;
    }

    &__link {
      padding: 16px 20px 16px;
    }

    &__toggler {
      display: none;
    }
  }
}
